/* import main fonts */
@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* import fonts icon */
@import url("../fonts/font-awesome/css/font-awesome.css");
@import url("../fonts/elegant_font/HTML_CSS/style.css");
@import url("../fonts/et-line-font/style.css");

header {
  padding: 10px;
  height: 56px;
  box-sizing: border-box;
  width: 100vw;
  position: fixed;
  top: 0px;

  backdrop-filter: blur(10px);
  background-color: #171a1d;
}

#mainmenu {
  position: fixed;
  background-color: #171a1d;
  width: 100%;
  top: 56px;
  left: 0px;
}
#mainmenu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0px;
  padding: 0px;
  background-color: #171a1d;
}
#mainmenu ul li {
  height: 36px;
  background-color: #171a1d;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mainmenu ul li a {
  color: #ffffff;
  text-decoration: none;
}

#mainmenu ul li:hover {
  background-color: #ffffff;
  color: #171a1d;
}
#mainmenu ul li:hover a {
  color: #171a1d;
}

.cardContainer {
  width: 80%;
  background-color: white;
}

.cardContainer > img {
  width: 100%;
}

.cardContainer > div {
  padding: 4%;
  color: black;
  font-size: 13px;
}
.cardContainer > div > h4 {
  color: black !important;
}

footer {
  color: #ffffff;
  font-size: 12px;
  padding: 4%;
  margin-bottom: 40px;
  border-top: solid 1px rgba(255, 255, 255, 0.1);
  background: rgba(0, 0, 0, 0.1);
}

#kakao-link {
  position: fixed;
  bottom: 40px;
  right: 20px;
  z-index: 1020;
  width: 40px;
  height: 40px;
  cursor: poInter;

  overflow: hidden;
}

.d_timeline {
  position: relative;
  counter-reset: list 0;
  padding: 0;
  padding-left: 22px;
}

.d_timeline-item {
  list-style: none;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.d_timeline-item {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.d_timeline-item:last-child {
  border-left-color: transparent;
}

.d_timeline-title {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.d_timeline-title {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.d_timeline-title {
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.5);
}

.d_timeline-text .d_title {
  color: #ffffff;
}

.d_timeline-text .d_title {
  font-family: var(--title-font);
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 0px;
  display: block;
  font-size: 12px;
  color: #202020;
}

.d_timeline-text .d_title {
  color: #ffffff;
}

.d_timeline-text .d_company {
  margin-bottom: 10px;
  display: block;
  color: #fff;
  font-size: 16px;
}

.de_light .d_timeline-text .d_title {
  color: #000000;
}

.d_timeline-title:before {
  color: #fff;
  position: relative;
  left: -22px;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background-color: #cf1f1f;
  counter-increment: list;
  content: counter(list);
}

.d_timeline-title.s2:before {
  color: #000000;
}

.d_timeline-text {
  margin: 0;
  padding: 0 0 40px 40px;
}

.d_timeline-text .d_title span {
  display: inline-block;
  font-weight: 500;
  margin-left: 30px;
}

.d_timeline-text .d_title span:before {
  content: "-";
  font-style: normal;
  position: absolute;
  margin-left: -20px;
}
